-if @feed
  #feed.feed-preview
    -@feed.entries.each do |entry|
      %h2=link_to entry.title, entry.url
      %p
        = image_tag(first_image entry.summary)
        -if entry.summary
          = truncate(strip_tags(entry.summary), length: 200, omission: '...' )
        = link_to('READ MORE', entry.url)
